<div class="card text-white bg-dark mb-3">
    <div class="card-header">{{titulo}}</div>
    <div class="card-body">
        
        <button type="button" class="btn btn-outline-light" routerLink="/alumnos/form">Crear</button>
       
        <div class="alert alert-info" *ngIf="lista && lista.length==0">
            No hay alumnos en el sistema
        </div>

        <table class="table table-dark table-hover" *ngIf="lista && lista.length>0">

            <thead>
                <tr>
                    <th>id</th>
                    <th>foto</th>
                    <th>nombre</th>
                    <th>apellido</th>
                    <th>email</th>
                    <th>creado en</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let alumno of lista">
                    <td>{{alumno.id}}</td>
                    <td>
                        <img *ngIf="alumno.fotoHashCode" 
                        [src]="baseEndPoint + '/download/img/' + alumno.id"
                        class="img-thumbnail rounded"
                        style="width: 64px; cursor: pointer;">

                        <img *ngIf="!alumno.fotoHashCode" 
                        [src]="'/assets/images/user.png'"
                        class="img-thumbnail rounded"
                        style="width: 64px; cursor: pointer;">
                    </td>
                    <td>{{alumno.nombre}}</td>
                    <td>{{alumno.apellido}}</td>
                    <td>{{alumno.email}}</td>
                    <td>{{alumno.createAt | date}}</td>
                    <td>
                        <button type="button" class="btn btn-outline-success" [routerLink]="['/alumnos/form',alumno.id]">
                            editar
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-outline-warning" (click)="eliminar(alumno)">
                            eliminar
                        </button>
                    </td>
                </tr>
            </tbody>

        </table>
        <mat-paginator [length]="totalRegistros"
              [pageSize]="totalPorPagina"
              [pageIndex]="paginaActual"
              [pageSizeOptions]="pageSizeOptions"
              (page)="paginar($event)"
              showFirstLastButtons>
        </mat-paginator>

    </div>
</div>