<div class="card text-white bg-dark mb-3">
    <div class="card-header">{{titulo}}</div>
    <div class="card-body">
        <button type="button" class="btn btn-outline-light" routerLink="/alumnos/form">Crear</button>
        <table class="table table-dark table-hover">

            <thead>
                <tr>
                    <th>id</th>
                    <th>nombre</th>
                    <th>apellido</th>
                    <th>email</th>
                    <th>creado en</th>
                    <th>Editar</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let alumno of alumnos">
                    <td>{{alumno.id}}</td>
                    <td>{{alumno.nombre}}</td>
                    <td>{{alumno.apellido}}</td>
                    <td>{{alumno.email}}</td>
                    <td>{{alumno.createAt | date}}</td>
                    <td>
                        <button type="button" class="btn btn-outline-success" [routerLink]="['/alumnos/form',alumno.id]">
                            editar
                        </button>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
</div>